html, body{
  height:100%;
  font-family:Arial;
  margin:0 auto;
}
a{
  text-decoration:none;
  color:blue;
}

/

  text-align:center;
  padding:10px;
  transition:0.5s
}
nav a:hover{
    background-color:blue;
    color:white;
    transition:0.5s;
}
#banner{
  background-color:blue;
  color:white;
  padding:20px;
}
#body{
  padding:50px;
}
#links{
  padding:50px;
}
#footer{
  background-color:blue;
  color:white;
  padding:20px;
}